.eventDetails{
    box-shadow: 0px 0px 5px grey;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 60px;
}

.formConvidado{
    box-shadow: 0px 0px 5px grey;
    padding: 20px;
    margin-bottom: 60px;

}

.formEvento{
    box-shadow: 0px 0px 5px grey;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 60px;
}

.tabelaConvidados{
    width: 50%;
}

.tituloConvidados{
    padding-left: 25.2%;
}
