<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"/>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Event</title>
        <link rel="stylesheet" href="style/style.css"/>
    </head>
    <body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Event</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/events" class="waves-effect waves-light btn-large"><i class="material-icons left">dehaze</i>Lista de Eventos</a></li>
                </ul>
            </div>
        </nav>
    </header>
        <div th:each="event : ${event}" class="container eventDetails">
            <h5>Event Details</h5>
            <div class="row">
                <p>Name: <span th:text="${event.name}"></span></p>
                <p>Local: <span th:text="${event.local}"></span></p>
                <p>Date: <span th:text="${event.date}"></span></p>
                <p>Time: <span th:text="${event.time}"></span></p>
            </div>
        </div>
        <div class="container formConvidado">
            <form method="post">
                <h5>Guest Register</h5>
                <th:block th:include="mensagemValidacao"></th:block>
                <div class="row">
                    Guest Name: <input type="text" value="" name="guestName" placeholder="full name"/>
                    RG: <input type="text" value="" name="rg" placeholder="AA-000.000.000-00"/>
                    <button class="waves-effect waves-light btn-large" type="submit">Add</button>
                </div>
            </form>
        </div>
        <h5 class="tituloConvidados">Lista de Convidados</h5>
        <table class="container tabelaConvidados">
            <thead>
                <tr>
                    <th>Nome Convidado</th>
                    <th>RG</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="convidado : ${convidados}">
                    <td><span th:text="${convidado.guestName}"></span></td>
                    <td><span th:text="${convidado.rg}"></span></td>
                </tr>
            </tbody>
        </table>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>
</html>