<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"/>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>Event</h1>
        <h3>
            <a href="/events" class="waves-effect waves-light btn-large"><i class="material-icons left">dehaze</i>Lista de Eventos</a>
        </h3>

        <div th:each="event : ${event}" class="container">
            <div class="row">
                <p>Name: <span th:text="${event.name}"></span></p>
                <p>Local: <span th:text="${event.local}"></span></p>
                <p>Date: <span th:text="${event.date}"></span></p>
                <p>Time: <span th:text="${event.time}"></span></p>
            </div>
            <hr>

            <form method="post">
                <h3>Guest Register</h3>
                <th:block th:include="mensagemValidacao"></th:block>
                <div class="row">
                    <div class="input-field col s7">
                        Guest Name: <input type="text" value="" name="guestName"/>
                    </div>
                    <div class="input-field col s5">
                    RG: <input type="text" value="" name="rg"/>
                    </div>
                    <button class="waves-effect waves-light btn-large" type="submit" >Add</button>
                </div>
            </form>
        </div>
        <div class="container">
            <h5>Lista de Convidados</h5>
            <div class="row" th:each="convidado : ${convidados}">
                <div class="input-field col s6">
                    <p><span th:text="${convidado.guestName}"></span></p>
                </div>
                <div class="input-field col s3">
                    <p><span th:text="${convidado.rg}"></span></p>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>
</html>