<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout">
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8">
        <title>AppEvent</title>
    </head>
    <body>
        <h1>Event Register</h1>
        <h3>
            <a href="/events" class="waves-effect waves-light btn-large"><i class="material-icons left">dehaze</i>Lista de Eventos</a>
        </h3>
        <form class="container" method="post">
            <th:block th:include="mensagemValidacao"></th:block>
            <div class="row">
                <div class="input-field col s12">
                    Name: <input type="text" value="" name="name">
                </div>
                <div class="input-field col s6">
                    Local: <input type="text" value="" name="local">
                </div>
                <div class="input-field col s3">
                    Date: <input type="date" value="" name="date">
                </div>
                <div class="input-field col s3">
                    Time: <input type="text" value="" name="time">
                </div>
                <button class="waves-effect waves-light btn-large" type="submit">Save</button>
            </div>
        </form>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>
</html>