<!DOCTYPE html>
<html lang="pt-br"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>AppEvent</title>
    </head>
    <body>
        <h1>Event Register</h1>
        <form method="post">
            Name: <input type="text" value="" name="name">
            Local: <input type="text" value="" name="local">
            Date: <input type="date" value="" name="date">
            Time: <input type="text" value="" name="time">

            <button type="submit">Save</button>
        </form>
    </body>
</html>